


body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    background-color: #846267;
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
}
button {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    background-color:#D89A9E;
    border: solid 5px #C37D92;
    color: black;
    padding: 20px;
    border-radius: 12px;
}

h1 {
    text-align: center;
}
h3 {
    margin: 10px;
}
div {
    margin: auto;
}
p {
    font-weight: 400;
}

ul {
    font-weight: 500;
}

#gameBoard {
    display: flex;
    flex-direction: column;
    background-color: #E0C1B3;
    border: solid 20px #C37D92;
    border-radius: 100px;
}

#parentGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#selectYourDifficulty h3{
    text-align: center;
}

#startButton {
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
}

#instructionBoxOne {
    width: 300px;
    border: solid 7.5px #846267;
    background-color: #E0C1B3;
    border-radius: 25px;
}

#instructionBoxTwo {
    width: 300px;
    border: solid 7.5px #846267;
    background-color: #E0C1B3;
    border-radius: 25px;
}

#instructionBoxThree {
    width: 300px;
    border: solid 7.5px #846267;
    background-color: #E0C1B3;
    border-radius: 25px;
}

#instructionBoxFour {
    width: 300px;
    border: solid 7.5px #846267;
    background-color: #E0C1B3;
    border-radius: 25px;
}

#continueButtonOne{
    margin-top: 5px;
    background-color:#D89A9E;
    border: solid 5px #846267;
    padding: 7px;
    border-radius: 10px;
}

#continueButtonTwo{
    margin-top: 5px;
    background-color:#D89A9E;
    border: solid 5px #846267;
    padding: 7px;
    border-radius: 10px;
}

#continueButtonThree{
    margin-top: 5px;
    background-color:#D89A9E;
    border: solid 5px #846267;
    padding: 7px;
    border-radius: 10px;
}

#continueButtonFour{
    margin-top: 5px;
    background-color:#D89A9E;
    border: solid 5px #846267;
    padding: 7px;
    border-radius: 10px;
}

#restartButton {
    display: flex;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

#youWin {
    background-color: #E0C1B3;
    border: solid 10px #C37D92;
    border-radius: 15px;
}

#winButton {
    background-color:#D89A9E;
    border: solid 5px #C37D92;
    padding: 7px;
    border-radius: 12px;
}

#youLose {
    background-color: #E0C1B3;
    border: solid 10px #C37D92;
    border-radius: 15px;
}

#loseButton {
    background-color:#D89A9E;
    border: solid 5px #C37D92;
    padding: 7px;
    border-radius: 12px;
}

#difficultyButtons {
    display: flex;
    justify-content: space-evenly;
}

#difficultyButtonsImg {
    height:auto;
    max-width: 100%;
}

#difficultyButtonsWithObjectImg {
    height:auto;
    max-width: 100%;
}

#boardWithMissingObjectImg {
    height:auto;
    max-width: 45%;
    position: relative;
}

#emptyBoardImg {
    height:auto;
    max-width: 45%;
    position: relative;
}

#youWinImg {
    height:auto;
    max-width: 100%;
    position: relative;
}

#timerImg {
    height:auto;
    max-width: 100%;
    position: relative;
}

#youLoseImg {
    height:auto;
    max-width: 100%;
    position: relative;
}



.twoByTwo {
    width: 200px;
    height: 200px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border: solid 10px #C37D92;
    background-color: #D89A9E;
    border-radius: 25px;

    
}

.threeByThree {
    width: 250px;
    height: 250px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border: solid 10px #C37D92;
    background-color: #D89A9E;
    border-radius: 25px;

}

.fourByFour {
    width: 300px;
    height: 300px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    border: solid 10px #C37D92;
    background-color: #D89A9E;
    border-radius: 25px;
    
}

.fiveByFive {
    width: 325px;
    height: 325px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    border: solid 10px #C37D92;
    background-color: #D89A9E;
    border-radius: 25px;

}
.iAmHiddenNow {
    visibility: hidden;
    height: 0;
}
.game-object-2by2 {
    width: calc(50% - 15px);
    height: calc(50% - 15px);
    margin: auto;
    position: relative;
    border-radius: 5px;
    background-color: #C37D92;
}

.game-object-3by3 {
    width: calc(33.33% - 13.3px);
    height: calc(33.33% - 13.3px);
    margin: auto;
    position: relative;
    border-radius: 5px;
    background-color: #C37D92;
}

.game-object-4by4 {
    width: calc(25% - 11px);
    height: calc(25% - 11px);
    margin: auto;
    position: relative;
    border-radius: 5px;
    background-color: #C37D92;
}

.game-object-5by5 {
    width: calc(20% - 10px);
    height: calc(20% - 10px);
    margin: auto;
    position: relative;
    border-radius: 5px;
    background-color: #C37D92;
}


.game-object-2by2.change{
    background-color: #846267;
}

.game-object-2by2.change.vanish{
    visibility: hidden;
    
}

.game-object-3by3.change{
    background-color: #846267;
    
}

.game-object-3by3.change.vanish{
    visibility: hidden;
}

.game-object-4by4.change{
    background-color: #846267;
}

.game-object-4by4.change.vanish{
    visibility: hidden;
}

.game-object-5by5.change{
    background-color: #846267;
}

.game-object-5by5.change.vanish{
    visibility: hidden;
}

.difficulty.borderColor{
    border-color: #846267;
}

.bold {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
}

